.App {
  text-align: center; /* Important, impacts the loader among other styles */
}
.player-section {
  background-color: #121212;
}

.home-screen-truncate-collection-name {
  max-height: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgb(40, 40, 40);
  height: 80px;
  z-index: 2;
}